{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../static/milogo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.js'%}">
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <title>Miracle Foundation International</title>
      
</head>
 <!-- background video -->
 <div class="navigate">
  <nav class="navbar navbar-expand-lg  navbar-light bg-dark text-dark">
    <a class="navbar-brand" href="#"> <img src="{% static './img/miracle_fdn_logo.png'%}" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto list">
        <li class="nav-item active">
          <a class="nav-link internal" href="{% url 'tessurl:home' %}">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link internal" href="{% url 'tessurl:gallery' %}">GALLERY<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link internal" href="#">GET INVOLVED <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link internal" href="{% url 'tessurl:media' %}">MEDIA <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link internal" href="{% url 'tessurl:mission' %}"> OUR MISSION <span class="sr-only">(current)</span></a>
        </li>
      </li>
      <li class="nav-item active">
        <a class="nav-link internal" href="{% url 'tessurl:donate' %}"> DONATE <span class="sr-only">(current)</span></a>
      </li>
      <!-- <button type="button" class="donor"><a href="#">DONATE</a></button> -->
    </ul>
        
       
    </div>
  </nav>
</div>
<!-- partners -->
<div class="patty">
  <p><i>“If you want to go fast, go alone. If you want to go far – go together.” </i></p>
  <p style="text-align: right;"> <b> Old African Proverb </b> </p>
</div>
<div class="collab">
  <p> <b>Collaboration is Key. </b> With a dream as big as ours, it takes a vast network of partners to bring it to life. For those who have helped and those yet to join the team, we welcome you all and give thanks for your commitment.</p>
</div>
<div class="mapat" style="width: 100%;">
  <h4>P a r t n e r s</h4>
  <img src="../static/pattyy.png" alt="" style="width: 100%;">
</div>

    


{% include 'footer.html' %}