{% load static %}
{% include 'header.html' %}
<!-- our missions -->

  
   
<div class="miss">
      <center><h2 style="margin-top: 55px;"> OUR MISSION </h2></center>
      <h3> THE PROBLEM</h3>
      <p class="mission">As you read this, millions of children are separated from their families, living in institutions or on the streets. Many survive with substandard care, unloved and at risk – all of them dreaming of a family. In the worst cases, the orphanage environment exposes children to devastating abuse and psychological trauma, creating adults who are 10x more likely to become sex workers and 50x more likely to be in prison.

        But, we are also in the midst of a profound paradigm shift. Efforts are being made to reform foster care systems, support families before separation occurs and reunite families where preventable separation has occurred. <br> We all know kids everywhere deserve better.
        
        The movement has begun and Miracle Foundation is on the front line.</p>
      
    </div>
  
  
    <div class="muss">
      <h3 class="mt-0 mb-1"> OUR SOLUTION</h3>
      <p class="mission">Our work in the past was grounded in helping orphans in need to have a better quality of life but has evolved to also ensure that every child has an opportunity to grow up in a family. We’ve learned that children who are separated from their families yearn to go back and feel the love and belonging a family can offer. <br> At Miracle Foundation, our vision is a family for every child in our lifetime.</p>
    </div>
    
  
{% include 'footer.html' %}